[workspace]
resolver = "2"
members = ["nova_cli", "nova_vm", "small_string", "tests"]

[workspace.package]
edition = "2021"
version = "0.1.0"
license = "MPL-2.0"
homepage = "https://trynova.dev"
keywords = [
    "nova",
    "engine",
    "language",
    "JavaScript",
    "TypeScript",
    "VM",
    "data-oriented",
    "data-oriented design"
]
categories = ["development-tools", "programming-languages"]
authors = ["The Nova Team"]

[workspace.dependencies]
ahash = "0.8.11"
clap = { version = "4.5.22", features = ["derive"] }
cliclack = "0.3.5"
console = "0.15.8"
ctrlc = "3.4.5"
fast-float = "0.2.0"
hashbrown = "0.15.2"
num-bigint = "0.4.6"
num-traits = "0.2.19"
oxc_allocator = "0.39.0"
oxc_ast = "0.39.0"
oxc_diagnostics = "0.39.0"
oxc-miette = { version = "1.0.2", features = ["fancy"] }
oxc_parser = "0.39.0"
oxc_semantic = "0.39.0"
oxc_span = "0.39.0"
oxc_syntax = "0.39.0"
oxc_ecmascript = "0.39.0"
rand = "0.8.5"
ryu-js = "1.0.1"
sonic-rs = "0.3.16"
unicode-normalization = "0.1.24"
wtf8 = "0.1"
fast_float = "0.2.0"

[profile.release]
lto = true
