[package]
name = "nova_vm"
version = "0.1.0"
edition = "2021"

[dependencies]
fast-float = { workspace = true }
num-bigint = { workspace = true }
num-traits = { workspace = true }
oxc_allocator = { workspace = true }
oxc_ast = { workspace = true }
oxc_diagnostics = { workspace = true }
oxc_parser = { workspace = true }
oxc_semantic = { workspace = true }
oxc_span = { workspace = true }
oxc_syntax = { workspace = true }
rand = { workspace = true }
ryu-js = { workspace = true }
small_string = { path = "../small_string" }
wtf8 = { workspace = true }
ahash = { workspace = true }
sonic-rs = { workspace = true }

[features]
typescript = []

[build-dependencies]
small_string = { path = "../small_string" }
