[package]
name = "nova_vm"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
gc = { version = "0.4", features = ["derive"] }
wtf8 = "0.1"
oxc_parser = "0.1.0"
oxc_span = "0.1.0"
oxc_syntax = "0.1.0"
oxc_ast = "0.1.0"
oxc_allocator = "0.1.0"
oxc_diagnostics = "0.1.0"
num-bigint = "0.4"
small_vec = "0.1"
