name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build
    # TODO: Run CI on all three platforms.
    runs-on: ubuntu-latest
    timeout-minutes: 40
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust toolchain
        run: |
          rustup update stable
          rustup default stable
          rustup component add clippy rustfmt
      - name: Check formatting
        run: cargo fmt --check
      - name: Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
      - name: Spell check
        uses: crate-ci/typos@master
      - name: Build
        run: cargo build
      - name: Test
        run: cargo test
        timeout-minutes: 20
      - name: Build binaries and examples
        run: cargo build --bins --examples
