name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly
      - name: Install Dylint
        run: cargo install cargo-dylint dylint-link
      - name: Spell check
        uses: crate-ci/typos@master
      - name: Check formatting
        run: cargo fmt --check
      - name: Clippy
        run: >
          cargo +nightly clippy --all-targets --all-features
          -- -D warnings
      - name: Dylint tests
        working-directory: nova_lint
        run: cargo test
      - name: Dylint
        run: cargo dylint --all

  build:
    name: Build
    # TODO: Run CI on all three platforms.
    runs-on: ubuntu-latest
    timeout-minutes: 50
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Build
        run: cargo build
      - name: Test
        run: cargo test
        timeout-minutes: 20
      - name: Checkout test262 submodule
        run: git submodule update --init
      - name: Test262
        run: cargo run --bin test262 -- --noprogress
        timeout-minutes: 15
      - name: Build binaries and examples
        run: cargo build --bins --examples
